---
/**
 * MainLayout.astro
 *
 * Wrapper layout with meta data and global page functionality.
 *
 * Funtionality:
 * - Nav-bar active page link
 * - Mobile nav-bar toggle
 * - Page load animation
 * - Background canvas animation logic and html elem
 */

//COMPONENT PROPS
const { title, activePage } = Astro.props;

//STYLES FOR NAV ITEMS
let activeNavCss =
	"block py-2 pl-3 pr-4 text-black bg-[#3BA576] rounded md:bg-transparent md:text-[#3BA576] md:p-0";
let navCSS =
	"block py-2 pl-3 pr-4 text-white rounded hover:bg-[#3BA576] md:hover:bg-transparent md:border-0 md:hover:text-[#3BA576] md:p-0   dark:hover:bg-[#3BA576]  ";

//STYLES REFERENCE VARIABLE
var homeCSS = "";
var amenitiesCSS = "";
var reviewsCSS = "";
var roomsCSS = "";
var galleryCSS = "";
var contactCSS = "";

// Apply the styles to navigation elements | apply different active style to active page.
if (activePage === "home") {
	homeCSS = activeNavCss;
	amenitiesCSS = navCSS;
	reviewsCSS = navCSS;
	roomsCSS = navCSS;
	galleryCSS = navCSS;
	contactCSS = navCSS;
} else if (activePage === "amenities") {
	homeCSS = navCSS;
	amenitiesCSS = activeNavCss;
	reviewsCSS = navCSS;
	roomsCSS = navCSS;
	galleryCSS = navCSS;
	contactCSS = navCSS;
} else if (activePage === "reviews") {
	homeCSS = navCSS;
	amenitiesCSS = navCSS;
	reviewsCSS = activeNavCss;
	roomsCSS = navCSS;
	galleryCSS = navCSS;
	contactCSS = navCSS;
} else if (activePage === "rooms") {
	homeCSS = navCSS;
	amenitiesCSS = navCSS;
	reviewsCSS = navCSS;
	roomsCSS = activeNavCss;
	galleryCSS = navCSS;
	contactCSS = navCSS;
}  else if (activePage === "gallery") {
	homeCSS = navCSS;
	amenitiesCSS = navCSS;
	reviewsCSS = navCSS;
	roomsCSS = navCSS;
	galleryCSS = activeNavCss;
	contactCSS = navCSS;
}  else if (activePage === "contact") {
	homeCSS = navCSS;
	amenitiesCSS = navCSS;
	reviewsCSS = navCSS;
	roomsCSS = navCSS;
	galleryCSS = navCSS;
	contactCSS = activeNavCss;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="description"
			content="Discover the exceptional software development skills of Francisco Paliouras,
		 showcasing a diverse portfolio of innovative projects. Explore thier commitment to excellence in every project. 
		 Please feel free to reach out with opportunities or any other inqueries."
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-white">
		<nav class="flex bg-[#36353A] items-center h-20">
			<div
				class="container flex flex-wrap items-center justify-end mx-auto"
			>
			<a href="/" class="mx-auto md:hidden">
				<img src="assets/Logo.png" alt="Yorkshire Inn Logo"/>
			</a>
				<!-- Hamburger Menu -->
				<button
					id="nav_btn"
					data-collapse-toggle="navbar-default"
					type="button"
					class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
					aria-controls="navbar-default"
					aria-expanded="false"
				>
					<span class="sr-only">Open main menu</span>
					<svg
						class="w-6 h-6"
						aria-hidden="true"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
							clip-rule="evenodd"></path></svg
					>
				</button>
				<!-- ----DEFAULT WEB NAVIGATION---- -->
				<div
					class="hidden w-full md:block md:w-auto mx-auto relative px-5 max-w-screen-xl items-center justify-end"
					id="navbar-default"
				>
					<ul
						class="flex flex-col md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 bg-[#36353A] items-center"
					>
						<li>
							<a
								href="/"
								class="text-neutral-100 hover:text-neutral-400 cursor-pointer"
								style="font-family:'Inter', sans-serif; text-transform:uppercase; font-weight:900; font-size:10px; line-height:11px; letter-spacing:0.13em;"
								>Home</a>
						</li>
						<li>
							<a
							href="/"
							class="text-neutral-100 hover:text-neutral-400 cursor-pointer"
							style="font-family:'Inter', sans-serif; text-transform:uppercase; font-weight:900; font-size:10px; line-height:11px; letter-spacing:0.13em;"
							>Amenities</a>
						</li>
						<li>
							<a
							href="/"
							class="text-neutral-100 hover:text-neutral-400 cursor-pointer"
							style="font-family:'Inter', sans-serif; text-transform:uppercase; font-weight:900; font-size:10px; line-height:11px; letter-spacing:0.13em;"
							>Reviews</a>
						</li>
						<li>
							<!-- Navbar Logo -->
								<a href="/"
									><img
										src="assets/Logo.png"
										alt="Yorkshire Inn Logo"
									/></a>
						</li>
						<li>
							<a
							href="/"
							class="text-neutral-100 hover:text-neutral-400 cursor-pointer"
							style="font-family:'Inter', sans-serif; text-transform:uppercase; font-weight:900; font-size:10px; line-height:11px; letter-spacing:0.13em;"
							>Rooms</a>
						</li>
						<li>
							<a
							href="/"
							class="text-neutral-100 hover:text-neutral-400 cursor-pointer"
							style="font-family:'Inter', sans-serif; text-transform:uppercase; font-weight:900; font-size:10px; line-height:11px; letter-spacing:0.13em;"
							>Gallery</a>
						</li>
						<li>
							<a
							href="/"
							class="text-neutral-100 hover:text-neutral-400 cursor-pointer"
							style="font-family:'Inter', sans-serif; text-transform:uppercase; font-weight:900; font-size:10px; line-height:11px; letter-spacing:0.13em;"
							>Contact</a>
						</li>
					</ul>
				</div>
				<!-- ----DEFAULT MOBILE NAVIGATION---- -->
				<div
					class="md:hidden transition-transform w-[90%] overflow-hidden scale-y-0 absolute top-10 mx-5 z-10"
					id="navbar-mobile">
					<ul
						class="flex flex-col p-4 mt-4 border border-[#262b29] bg-[#081710] md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0"
					>
						<li>
							<a href="/" class={homeCSS} aria-current="page">Home</a>
						</li>
						<li>
							<a href="/amenities" class={amenitiesCSS}>Amenities</a>
						</li>
						<li>
							<a href="/reviews" class={reviewsCSS}>Reviews</a>
						</li>
						<li>
							<a href="/rooms" class={roomsCSS}>Rooms</a>
						</li>
						<li>
							<a href="/gallery" class={galleryCSS}>Gallery</a>
						</li>
						<li>
							<a href="/contact" class={contactCSS}>Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<slot />
		<!-- FOOTER -->
		<footer class="p-4 sm:p-6">
			<div class="md:flex md:justify-between">
				<div class="mb-6 md:mb-0">
					<a href="https://flowbite.com/" class="flex items-center">
						<span
							class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
							>Francisco Paliouras
						</span>
					</a>
				</div>
				<div class="grid grid-cols-2 gap-8 sm:gap-6">
					<div>
						<h2
							class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
						>
							Pages
						</h2>
						<ul class="text-[#3BA576]">
							<li class="mb-4">
								<a href="/" class="hover:underline">Home</a>
							</li>
							<li class="mb-4">
								<a href="/about" class="hover:underline"
									>About</a
								>
							</li>
							<li class="mb-4">
								<a href="/contact" class="hover:underline"
									>Contact Me</a
								>
							</li>
							<li class="mb-4">
								<a href="/resume" class="hover:underline"
									>Resume</a
								>
							</li>
						</ul>
					</div>
					<div>
						<h2
							class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
						>
							Socials
						</h2>
						<ul class="text-[#3BA576]">
							<li class="mb-4">
								<a
									href="https://github.com/fpalio"
									class="hover:underline">Github</a
								>
							</li>
							<li>
								<a
									href="https://www.linkedin.com/in/francisco-paliouras-10901b134/"
									class="hover:underline">Linked In</a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<hr
				class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
			/>
			<div class="sm:flex sm:items-center sm:justify-between">
				<span
					class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
					>© 2023 <a href="www.fpalio.com" class="hover:underline"
						>FPalio™</a
					>. All Rights Reserved.
				</span>
				<div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
					<a
						href="https://github.com/fpalio"
						class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
					>
						<svg
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 24 24"
							aria-hidden="true"
							><path
								fill-rule="evenodd"
								d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
								clip-rule="evenodd"></path></svg
						>
						<span class="sr-only">GitHub account</span>
					</a>
				</div>
			</div>
		</footer>
	</body>
</html>
<script>
	/**
	 * HAMBURGER Menu Logic for Mobile menu
	 */
	var navBtn = document.getElementById("nav_btn");
	var menu = document.getElementById("navbar-mobile");
	navBtn.addEventListener("click", () => {
		menu.classList.toggle("scale-y-0");
		menu.classList.toggle("scale-y-100");
	});
</script>

<style is:global>
	#canvas {
		display: block;
		margin: 0 auto;
		position: fixed;
		z-index: -100;
		background-color: #081710;
		height: 100%;
	}
	/* *************************************** */
	/* GLOBAL LOADING ANIMATION FOR ALL PAGES */
	/* *************************************** */
	.load {
		animation-duration: 2s;
		animation-name: fade-in-load;
		animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	@keyframes fade-in-load {
		from {
			opacity: 0;
			transform: translateY(100px);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
